# Dictionary_Comprehension

In [1]:
sqr={num:num**2 for num in range(1,6)}
sqr

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [3]:
string="aeroplane"
wordcount={
    char:string.count(char) for char in string
}

In [4]:
wordcount

{'a': 2, 'e': 2, 'r': 1, 'o': 1, 'p': 1, 'l': 1, 'n': 1}

#### IF ELSE

In [5]:
oddeven={
    i:("even" if i%2==0 else "odd") for i in range (1,11)
}

In [6]:
oddeven

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even'}

# SET COMPREHENSION

In [10]:
s={k**2 for k in range (1,11)}
print(s)  #without order

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [11]:
names=["daniya","rabiya","Fareeha"]
letter={name[0] for name in names}
letter

{'F', 'd', 'r'}