# Dictionary 
unordered collection of data in key value pair
- key should be unique

In [4]:
d1={"id":123 , 
    "name":"Daniya", 
    "course": "AI",
    "dob":"2/12/2000"}
d1

{'id': 123, 'name': 'Daniya', 'course': 'AI', 'dob': '2/12/2000'}

In [5]:
d2=dict(name="Daniya",age="20")
d2

{'name': 'Daniya', 'age': '20'}

In [6]:
#no indexing
d2[1]

KeyError: 1

In [7]:
d2["name"]

'Daniya'

#### Can store multiple type of data

In [48]:
#skill1=list()
d1={"id":26, "name":"Daniya", "skills":["python","html","css","c++"]}
d1

{'id': 26, 'name': 'Daniya', 'skills': ['python', 'html', 'css', 'c++']}

## Dic inside a dic

In [12]:
users={
    "user1":{"name":"Daniya","age":20},
    "user2":{"name":"Fareeha","age":21},
    "user3":{"name":"rabiya","age":12}
}

In [14]:
users["user1"]

{'name': 'Daniya', 'age': 20}

###### Acessing dic items

In [16]:
users["user1"]["name"]
users["user1"]["age"]

20

In [17]:
employ={
    'name':"Jhon",
    "children":["mari","max","elif"]
}

In [18]:
employ["children"][0]

'mari'

# Iteration in dic

In [19]:
d1

{'id': 26, 'name': 'Daniya', 'skills': ['python', 'html', 'css', 'c++']}

###### check key

In [20]:
if "name" in d1:
    print("PRESENT")

PRESENT

###### check value

In [21]:
if "Daniya" in d1.values():
     print("PRESENT")

PRESENT

## Loops

In [22]:
for i in d1:
    print(i)

id
name
skills

In [23]:
for i in d1.values():
    print(i)

26
Daniya
['python', 'html', 'css', 'c++']

In [24]:
for i in d1:
    print(i)
    print(d1[i])

id
26
name
Daniya
skills
['python', 'html', 'css', 'c++']

## Items method

In [27]:
dicitems=d1.items()
dicitems

dict_items([('id', 26), ('name', 'Daniya'), ('skills', ['python', 'html', 'css', 'c++'])])

In [28]:
print(type(dicitems))

<class 'dict_items'>

In [29]:
for key,value in d1.items():
    print(f" {key} : {value}")

 id : 26
 name : Daniya
 skills : ['python', 'html', 'css', 'c++']

# Add or Delete Data From DIC

In [49]:
d1["newkey1"]="newvalue1"
d1["newkey2"]="newvalue2"
d1

{'id': 26,
 'name': 'Daniya',
 'skills': ['python', 'html', 'css', 'c++'],
 'newkey1': 'newvalue1',
 'newkey2': 'newvalue2'}

###### pop
take keyname as argument

In [50]:
d1.pop("newkey1")

'newvalue1'

In [51]:
d1

{'id': 26,
 'name': 'Daniya',
 'skills': ['python', 'html', 'css', 'c++'],
 'newkey2': 'newvalue2'}

###### Pop item

In [52]:
d1.popitem()

('newkey2', 'newvalue2')

In [53]:
d1.popitem()

('skills', ['python', 'html', 'css', 'c++'])

###### Update

In [56]:
more_data={
    "id":"updatedid",
    "country":"Pakistan",
    "city":"Karachi"
}

In [57]:
d1.update(more_data)

In [58]:
d1

{'id': 'updatedid', 'name': 'Daniya', 'country': 'Pakistan', 'city': 'Karachi'}

### Form key

In [60]:
d=dict.fromkey(["name","age","height"],("Unknown"))

AttributeError: type object 'dict' has no attribute 'fromkey'

### get

In [61]:
d1

{'id': 'updatedid', 'name': 'Daniya', 'country': 'Pakistan', 'city': 'Karachi'}

In [62]:
d1.get("country")

'Pakistan'

In [90]:
d1.get('height')

In [89]:
d1.get('height',"alt text :KEY NOT FOUND")

'alt text :KEY NOT FOUND'

### clear

In [65]:
more_data.clear()

In [66]:
more_data

{}

### copy

In [74]:
dic=d1.copy()

In [75]:
dic

{'id': 'updatedid', 'name': 'Daniya', 'country': 'Pakistan', 'city': 'Karachi'}

In [76]:
print(dic == d1)

True

In [78]:
print(dic is d1) #different in memory

False

In [79]:
dic2=d1

In [80]:
print(dic2 is d1)

True

In [81]:
d1

{'id': 'updatedid', 'name': 'Daniya', 'country': 'Pakistan', 'city': 'Karachi'}

In [82]:
dic2

{'id': 'updatedid', 'name': 'Daniya', 'country': 'Pakistan', 'city': 'Karachi'}

In [83]:
d1.popitem() # If something pop from d1 kit also pop from dic2

('city', 'Karachi')

In [84]:
d1

{'id': 'updatedid', 'name': 'Daniya', 'country': 'Pakistan'}

In [85]:
dic2

{'id': 'updatedid', 'name': 'Daniya', 'country': 'Pakistan'}

In [86]:
dic

{'id': 'updatedid', 'name': 'Daniya', 'country': 'Pakistan', 'city': 'Karachi'}

# EXERCISES

In [91]:
#def a fun whic takes a num n and return dic of cube of 1 to n numbers

In [101]:
def cube(n):
    cub={}
    for i in range (n+1):
        cub[i]=i**3
    return cub

In [102]:
print(cube(5))

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### WORD COUNTER

In [103]:
def word_counter(word):
    count={}
    for char in word:
        count[char]=word.count(char)
    return count

In [106]:
print(word_counter("MAHAM"))

{'M': 2, 'A': 2, 'H': 1}

### User input

In [108]:
# user id, name, skills (multiple skills)
id1=input("id:")
name=input("Username:")
skill=['python']
skill1=input("Skills:").split(",")

# #skill1=list(skill1)

# skill.extend(skill1.split(','))
d1={"id":id1, "name":name, "skills":[skill1]}
d1

id:2
Username:ddf
Skills:ff,gg,yy

{'id': '2', 'name': 'ddf', 'skills': [['ff', 'gg', 'yy']]}