# FUNCTIONS


## SIMPLE

In [3]:
def avg(a,b): #positional Arguments
    print("avrage of numbers is",((a+b)/2))

In [4]:
avg(10,20)

avrage of numbers is 15.0

## Return

In [5]:
def avg(a,b):
    return ((a+b)/2)

In [6]:
print(avg(7,8))

7.5

## Return multiple values

In [7]:
def cal(a,b):
    x=a+b;
    y=a-b;
    z=a*b
    u=a//b
    return (x,y,z,u)

In [8]:
print(cal(7,8)) #returns a tuple

(15, -1, 56, 0)

In [10]:
a,b,c,d=cal(7,8) #tuple unpacking
print(a,b,c,d)

15 -1 56 0

#### Iteration on results

In [12]:

result =cal(3,4)
for res in result : print(res)

7
-1
12
0

# Local and Global Variables

In [15]:
def disp():
    local=456
    print("acces global variable ",g)

    
print(g)
disp()

123
acces global variable  123

In [16]:
print(local) #can't access

NameError: name 'local' is not defined

In [18]:
g=123
def disp():
    g=456 #have precedence for function
    print("acces local variable ",g)

    
print(g)
disp()

123
acces global variable  456

# Accessing global variable with same name

In [19]:
g=123
def disp():
    g=456 #have precedence for function
    print("acces local variable ",g)
    print("acces global variable ",globals()["g"])

    
print(g)
disp()

123
acces local variable  456
acces global variable  123

# Assign function to a variable

In [21]:
z=disp
z()

acces local variable  456
acces global variable  123

# Function inside a func

In [28]:
def display(name):
    def bwish ():
        return("happy birthday ") #use only inside a func
    res= bwish()+name
    return res

In [29]:
display("daniya")

'happy birthday daniya'

# Func as a parameter

In [39]:
def display(func1,func2):
    bio="name :"+func1 + "/n Age : "+func2
    return bio

def askname():
    name=str(input("whats your name? "))
    return name
def askage():
    age=str(input("whats your age? "))
    return age

In [40]:
print(display(askname(),askage()))

whats your name? daniya
whats your age? 20
name :daniya/n Age : 20

# Returning function

In [41]:
def mybalance():
    def message():
        return "your total balance is 50 rps"
    return message
mybal=mybalance()
mybal()

'your total balance is 50 rps'

###  you can Pass any thing as para

# Recursion

In [4]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fac(n-1)

In [5]:
fact(3)

6

Traversing tresss , binary trees and tower of hanoy problem can be solved using recursion

# Keyword Arguments

In [9]:
def avg(a,b):
    print(a,b)
    print("avrage of numbers is",((a+b)/2))

In [10]:
avg(b=10,a=20)

20 10
avrage of numbers is 15.0

# Default arrguments

In [11]:
def avg(b=10,a=20):
    print(a,b)
    print("avrage of numbers is",((a+b)/2))

In [12]:
avg()

20 10
avrage of numbers is 15.0

In [13]:
avg(b=45)

20 45
avrage of numbers is 32.5

In [23]:
def name(first ,middle="",last="" ):
    print(f"your name is {first} {middle} {last} ")

In [24]:
name("DANIYA" ,"NIAZI",)

your name is DANIYA NIAZI

In [25]:
name("MS", "DANIYA" ,"NIAZI",)

your name is MS DANIYA NIAZI

In [26]:
def pizza (size,flavor,*topping):
    print(f"Your pizza of size {size} with flavour {flavor} and toppings {topping} is ready")
    
pizza("large","cheese",("olives,chillies,sauces"))

Your pizza of size large with flavour cheese and toppings ('olives,chillies,sauces',) is ready

# Task

#### Generate a student card

In [28]:
# Generate card for PIAIC Students
def id_card(sid, sname, fname, course, Batch):
    text = """
    -------------------------------
                STUDENT
                  BIO
    -------------------------------
        ID = {}
        Name = {}
        Father Name = {}                                                                                                         
        Course = {}
        Batch = {}
    -------------------------------
    """.format(sid, sname, fname, course, Batch)
    print(text)

id_card(1, "Daniya", "Abdullah niazi", "AI", "Batch1")

    -------------------------------
                STUDENT
                  BIO
    -------------------------------
        ID = 1
        Name = Daniya
        Father Name = Abdullah niazi
        Course = AI
        Batch = Batch1
    -------------------------------

In [43]:
data = [[1, "Ishra Hussain", "Abdul Hussain", "AI", "Batch1"],\
        [2, "Bushra Hashmi", "Jamil Hashmi", "IOT", "Batch1"],\
        [3, "Muhammad Ammad", "Muhammad Ramzan", "IT", "Batch2"],\
        [4, "Sami Ullah", "Abdul Hussain", "BSEE", "Batch1"]]

In [46]:
for v in data: # one way of passing values from list
    id_card(v[0],v[1],v[2],v[3],v[4])

    -------------------------------
                STUDENT
                  BIO
    -------------------------------
        ID = 1
        Name = Ishra Hussain
        Father Name = Abdul Hussain
        Course = AI
        Batch = Batch1
    -------------------------------


    -------------------------------
                STUDENT
                  BIO
    -------------------------------
        ID = 2
        Name = Bushra Hashmi
        Father Name = Jamil Hashmi
        Course = IOT
        Batch = Batch1
    -------------------------------


    -------------------------------
                STUDENT
                  BIO
    -------------------------------
        ID = 3
        Name = Muhammad Ammad
        Father Name = Muhammad Ramzan
        Course = IT
        Batch = Batch2
    -------------------------------


    -------------------------------
                STUDENT
                  BIO
    -------------------------------
        ID = 4
        Name = Sami Ullah
        Father Name = Abdul Hussain
        Course = BSEE
        Batch = Batch1
    -------------------------------

In [47]:
for v in data:
    id_card(*v)

    -------------------------------
                STUDENT
                  BIO
    -------------------------------
        ID = 1
        Name = Ishra Hussain
        Father Name = Abdul Hussain
        Course = AI
        Batch = Batch1
    -------------------------------


    -------------------------------
                STUDENT
                  BIO
    -------------------------------
        ID = 2
        Name = Bushra Hashmi
        Father Name = Jamil Hashmi
        Course = IOT
        Batch = Batch1
    -------------------------------


    -------------------------------
                STUDENT
                  BIO
    -------------------------------
        ID = 3
        Name = Muhammad Ammad
        Father Name = Muhammad Ramzan
        Course = IT
        Batch = Batch2
    -------------------------------


    -------------------------------
                STUDENT
                  BIO
    -------------------------------
        ID = 4
        Name = Sami Ullah
        Father Name = Abdul Hussain
        Course = BSEE
        Batch = Batch1
    -------------------------------