# Lambdas

lambda argument_list :expression

In [2]:
f=lambda x :x*x

In [3]:
res=f(2)

In [4]:
res

4

#### even or odd

In [6]:
even=lambda x :"Even" if x%2==0 else "Odd"

In [7]:
even(34)

'Even'

#### Sum of 2 numbers

In [8]:
add= lambda a,b :a+b
add(2,5)

7

# Filter

In [9]:
#apply lambda

#####  Return list of even

In [28]:
l1=[4,65,74,22,89,66,2,1]
res=filter(lambda x: x%2==0 ,l1 )

In [29]:
print(res)

<filter object at 0x0000025238BF2788>

In [30]:
print(list(res))

[4, 74, 22, 66, 2]

In [31]:
res1=list(filter(lambda x: x%2==0 ,l1 ))
for i in res1 :
    print(i)

4
74
22
66
2

# Map

#### Double the value of list

In [32]:
l2=[4, 74, 22, 66, 2]

In [33]:
result=list(map(lambda n:n*2 ,l2))

In [34]:
result

[8, 148, 44, 132, 4]

# Reduce

#### find some of all elemts in a list

In [35]:
l2=[4, 74, 22, 66, 2]

In [36]:
from functools import reduce

In [37]:
reduce(lambda x,y:x+y ,l2)

168

# Task

In [38]:
# Perform a task using lambda, takes two numbers x and y, print x is x > y and y otherwise
xyz = lambda x, y: x if x > y else y if y > x else print("neither")
xyz(4, 4)

neither