# List Comprehesion 
- what to append like i**2

In [5]:
sqr=[i**2 for i in range(1,11)]
sqr

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
neg=[-i for i in range(1,11)]
neg

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [7]:
names=["daniya","rabiya","Fareeha"]
letter=[name[0] for name in names]
letter

['d', 'r', 'F']

### TASK

In [8]:
def reverse(l):
    return [name[::-1]  for name in l]

print(reverse(names))

['ayinad', 'ayibar', 'aheeraF']

# List comprehension with IF ELSE

In [10]:
even=[i for i  in range(1,11)  if i%2==0]
even

[2, 4, 6, 8, 10]

###### Append only int or float values

In [17]:
def num_to_string(list1):
    return [str(i) for i in list1 if type(i)==int or type(i)==float]

In [18]:
list2=[1,"ed",4,6,"jk","kl"]
print(num_to_string(list2))

['1', '4', '6']

In [21]:
def num_to_string(list1):
    return [str(i) if type(i)==int or type(i)==float  else "NOT A NUM" for i in list1 ]

In [22]:
list2=[1,"ed",4,6,"jk","kl"]
print(num_to_string(list2))

['1', 'NOT A NUM', '4', '6', 'NOT A NUM', 'NOT A NUM']

## NESTED LIST

In [25]:
NESTED=[[i for i in range(1,4)] for j in range(1,5)]

In [26]:
NESTED

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]