# Types of Operator

- Arithmetic Operators
- Comparison (Relational) Operators
- Assignment Operators 
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

## Arithmetic Operators

+ Addition
- Subtraction
* Multiplication
/ Divide
// Floor Division
** Power
% Modulus

## Comparison (Relational) Operators

Compares two values and return either true or false
== equal to
>  greater than
<  less than
>= greather than or equal
<= less than or equal
!= not equal
<> not equal

# Assignment Operators

=   assigns value
+=  addition to previous value
-=
*=
**=
/=
//=
%=

# Logical Operators

and = & all conditions necessary
or = |  optional
not = !=

# Control Flow

if Logic:
        code run if lofic true
else:
        code run if logic false

In [8]:
user= input("UserName: ") #username, email or phone
password= input("Password: ") #123
if ((user == "daniya" or user == "farihadania@hotmail.com" or user=="12345") and password == "123"):
    print("Login Success")
else:
    print("Login Failed")

UserName: daniya
Password: 123
Login Success

# IDENTITY OPERATORS

In [11]:
LIST1=[1,3,4]
LIST2=[1,3,4]

In [8]:
X=LIST1

In [9]:
X is LIST1

True

In [12]:
LIST1 is LIST2 #2 DIF  OBJECTS

False

In [13]:
LIST1 is not LIST2

True

In [9]:
a= "5"
b= 5
c= a

print(a is b)
print(a is c)

False
True

# MEBERSHIP OPERATORS
USED TO CHECK IF A SEQUENCE IS PRESENT IN OBJECT

In [16]:
1 in LIST1

True

In [17]:
"BANANA" in X

False

In [18]:
1 in X

True

In [19]:
"45" not in LIST2

True

# BITWISE OPERATORS

In [20]:
10 & 12
#1010 1100 
#when both bits are 1 o/p is 1
#1000

8

In [21]:
10 | 12

14

In [22]:
10>>2

2

In [23]:
#1010
10<<2

40

In [3]:
"""
and operator:

11101 = 29
11100 = 28
----------
11100 = 28

"""
29 & 28 #bitwise operator

28

In [4]:
"""
or operator:

11101 = 29
11100 = 28
----------
11101 = 29

"""
29 | 28

29

In [5]:
"""
xor operator:

11101 = 29
11100 = 28
----------
00001 = 1

"""
29 ^ 28

1